{% extends 'base.html.twig' %}

{% block title %}New Endroit{% endblock %}

{% block body %}
    <h1 class="p-3">Créer un nouveau lieu</h1>
    <div class="d-flex justify-content-center">
    <div class=" w-50 p-3 text-bg-light p-3 ">

    {{ include('endroit/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('app_endroit_index') }}"> Revenir à la liste des endroits</a>

    </div></div>
{% endblock %}

