{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 >S'enregistrer</h1>
    <div class="d-flex justify-content-center">
        <div class=" w-50 p-3 text-bg-light p-3 ">
    {{ form(registrationForm) }}
    </div>
    </div>
{% endblock %}
