{% extends 'base.html.twig' %}

{% block title %}New ModaliteTransport{% endblock %}

{% block body %}
    <h1>Create new ModaliteTransport</h1>

    {{ include('modalite_transport/_form.html.twig') }}

    <a href="{{ path('app_modalite_transport_index') }}">back to list</a>
{% endblock %}
