:root{
    --fondCouleur : rgb(177, 143, 143);
    --fondBody : rgba(236, 229, 224, 1)
}

body {
    background-color: var(--fondBody);
}

.fond{
    background-color: var(--fondCouleur);
}

.imageLogo{
    width : 30%;
    margin: 1%;
}