<form method="post" action="{{ path('app_modalite_nuit_delete', {'id': modalite_nuit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ modalite_nuit.id) }}">
    <button class="btn">Delete</button>
</form>
